<app-nav-menu></app-nav-menu>
<h1 id="tableLabel">เงื่อนไข</h1>
<hr />

<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="notes" data-order='[[ 0, "asc" ]]'>
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes">
      <td>{{ note.notes_description }}</td>
    </tr>
  </tbody>
</table>
