
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">เพิ่มข้อมูลหน้าที่</h1>
  </div>
  <br>
  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#functionalModal">เพิ่มข้อมูลหน้าที่</button>
  <hr />
  <!--<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="functionals">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">หน้าที่</th>
        <th class="text-center">Info</th>
        <th style="width:5px;" class="text-center">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let functional of functionals">
        <td>{{ functional.functional_id}}</td>
        <td>{{ functional.functional_description }}</td>
        <td class="text-center"><a [routerLink]="['/functional/detail/',functional.functional_id]"><i class="fa fa-info-circle"></i></a></td>
        <td class="text-center"><a href="#EditfunctionalModal" (click)="ClickEdit(functional.functional_id)" data-toggle="modal"><i class="fa fa-edit"></i></a></td>
      </tr>
    </tbody>
  </table>-->

</main>

<!--Add Functional Data-->
<!--<div>
  <select [(ngModel)]="category" id="category">
    <option value="" disabled selected>select a category</option>
    <option *ngFor="let item of FunctionalDropdownData" [value]="item.functional_id">{{item.functional_description}}</option>
  </select>

  <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
  <button type="submit" class="btn btn-primary" (click)="test(item.functional_id)">บันทึกข้อมูล</button>-->
<!--</div>-->

 
   


<!--<div class="container">

  <h1>Template-Driven Form</h1>
  <form #heroForm="ngForm">
    <div [hidden]="heroForm.submitted">-->

      <!--<div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="hero.name" #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="name.errors.forbiddenName">
            Name cannot be Bob.
          </div>

        </div>
      </div>-->

      <!--<div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input id="alterEgo" class="form-control"
               name="alterEgo" [(ngModel)]="hero.alterEgo">
      </div>-->

      <!--<div class="form-group">
        <label for="power">Hero Power</label>
        <select id="power" name="power" class="form-control"
                required [(ngModel)]="hero.power" #power="ngModel">
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>

        <div *ngIf="power.errors && power.touched" class="alert alert-danger">
          <div *ngIf="power.errors.required">Power is required.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-default"
              [disabled]="heroForm.invalid">
        Submit
      </button>
      <button type="button" class="btn btn-default"
              (click)="heroForm.resetForm({})">
        Reset
      </button>
    </div>

    <div class="submitted-message" *ngIf="heroForm.submitted">
      <p>You've submitted your hero, {{ heroForm.value.name }}!</p>
      <button (click)="heroForm.resetForm({})">Add new hero</button>
    </div>
  </form>

</div>-->


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

<div class="modal fade" id="functionalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลหน้าที่</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="ClickAddDes(f)">
          <!--<div class="form-group row">
            <label for="functionalDescription" class="col-sm-4 col-form-label">คำอธิบาย</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="functionalDescription" required name="additives_id" ngModel placeholder="หน้าที่"></textarea>
            </div>
          </div>-->


          <div class="form-group row">
            <label for="foodParentCategory" class="col-sm-4 col-form-label">หมวดหลัก</label>
            <div class="col-sm-8">
              <!--<select class="form-control" id="foodParentCategory">
                <option value="">กรุณาเลือกหมวดอาหารหลัก</option>

                <option *ngFor="let order of orders; let i = index" [value]="orders.foods_name">
                  {{orders[i].foods_name}}
                </option>
              </select>-->


              <select class='form-control select-option' [(ngModel)]="dropdown1" name="functionaldescription"
                      (change)='onOptionsSelected($event)'>



                <!--<option [value]="undefined" [disabled]="disabledFirstOption" selected>Select</option>-->
                <!--<option value="">Selecione um tipo</option>-->
                <!--<option value="undefined" [selected]="isSelected"> Please choose one </option>-->

                <option [value]="undefined">-- กรุณาเลือกหมวดอาหารหลัก --</option>

                <option class='option' *ngFor='let option of FunctionalDropdownData'
                        [value]="option.functional_id">


                  {{option.functional_description}}
                </option>
              </select>


                    <!--<div class="form-group">
        <label for="power">Hero Power</label>
        <select id="power" name="power" class="form-control"
                required [(ngModel)]="hero.power" #power="ngModel">
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>

        <div *ngIf="power.errors && power.touched" class="alert alert-danger">
          <div *ngIf="power.errors.required">Power is required.</div>
        </div>
      </div>-->



            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
