<app-nav-menu></app-nav-menu>
<main role="main">
  <div class="container">
    <div class="card" style="margin-top:25px;">
      <div class="card-header" style="font-family:K2D;">
        <strong>รายละเอียดหน้าที่</strong>
      </div>
      <div class="card-body">
        <p class="card-title"><strong>{{ functionalids.functional_description }}</strong></p>
        <hr />
      
        <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="functionals">
          <thead>
            <tr>
              <th>INS</th>
              <th>Name</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let functional of functionals">
              <td><a [routerLink]="['/additive/detail/',functional.additives_id]">{{ functional.ins_id }}</a></td>
              <td>{{ functional.additives_description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>




