<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ระบบวัตถุเจือปนในอาหาร</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="btn btn-outline-success" [routerLink]="['/logout']" style="color:#FFF;font-family:'K2D';">ออกจากระบบ</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../']">
              <span data-feather="home"></span>
              หน้าหลัก <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../additives/']">
              <span data-feather="file"></span>
              ข้อมูลวัตถุเจือปนอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../foods/']">
              <span data-feather="file"></span>
              ข้อมูลหมวดอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../functionals/']">
              <span data-feather="file"></span>
              ข้อมูลหน้าที่
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../groups/']">
              <span data-feather="file"></span>
              ข้อมูลกลุ่ม
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['../notes/']">
              <span data-feather="file"></span>
              ข้อมูลเงื่อนไข
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">เงื่อนไข</h1>
      </div>
      <br>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#noteModal">เพิ่มข้อมูลเงื่อนไข</button>
      <hr />
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="notes">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">รหัส</th>
            <th class="text-center">เงื่อนไข</th>
            <th class="text-center">Info</th>
            <th style="width:5px;" class="text-center">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let note of notes">
            <td>{{ note.notes_id}}</td>
            <td>{{ note.notes_code}}</td>
            <td>{{ note.notes_description }}</td>
            <td class="text-center"><a [routerLink]="['/note/detail/',note.notes_id]"><i class="fa fa-info-circle"></i></a></td>
            <td class="text-center"><a href="#EditfunctionalModal" (click)="ClickEdit(note.notes_id)" data-toggle="modal"><i class="fa fa-edit"></i></a></td>

          </tr>
        </tbody>
      </table>

    </main>
  </div>
</div>
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลเงื่อนไข</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="ClickAddDes(f)">
          <div class="form-group row">
            <label for="noteCode" class="col-sm-4 col-form-label">รหัสเงื่อนไข</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="noteCode" required name="notes_code" ngModel placeholder="รหัสเงื่อนไข"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="noteDescription" class="col-sm-4 col-form-label">เงื่อนไข</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="noteDescription" required name="notes_description" ngModel placeholder="คำอธิบาย"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
          </div>
        </form>
      </div>    
    </div>
  </div>
</div>

<div class="modal fade" id="EditfunctionalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">แก้ไขข้อเงื่อนไข</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="functionalDescription2" class="col-sm-4 col-form-label">รหัสเงื่อนไข</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="notes_code" required [(ngModel)]="notes_code" name="notes_code"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="functionalDescription2" class="col-sm-4 col-form-label">เงื่อนไข</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="notes_description" required [(ngModel)]="notes_description" name="notes_description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            <button type="submit" class="btn btn-primary" (click)="ClickEditSave()">แก้ไขข้อมูล</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
