<app-nav-menu></app-nav-menu>
<div class="card">
  <div class="card-header">
    ผลการค้นหา
  </div>
  <div class="card-body">
    <div class="card">
      <div class="card-header">
        ผลการค้นหาจากวัตถุเจือปนอาหาร
      </div>
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="additiveinfo">
          <thead>
            <tr>
              <th>INS</th>
              <th style="word-break: break-all;">วัตถุเจือปนในอาหาร</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let info of additiveinfo">
              <td><a [routerLink]="['/additive/detail/',info.additives_id]">{{ info.ins_id }}</a></td>
              <td style="word-break: break-all;">{{ info.additives_description}}</td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card" style="margin-top:25px;">
      <div class="card-header">
        ผลการค้นหาจากกลุ่มสารอาหาร
      </div>
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" data-order='[[ 1, "ascr" ]]' *ngIf="additivegroups">
          <thead>
          <tr>
            <th class="text-center" style="word-break: break-all;">กลุ่ม</th>
            <th class="text-center" style="word-break: break-all;">รายละเอียด</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let additivegroup of additivegroups">
              <td style="word-break: break-all;">{{ additivegroup.groups_description}}</td>
              <td class="text-center"><i class="fa fa-info-circle text-primary"></i></td>
              <!--<td class="text-center"><a [routerLink]="['/additives/',additivegroup.additives_id]"><i class="fa fa-info-circle"></i></a></td>-->
              <!--<a [routerLink]="['/additives/',additivegroup.additives_id/',additivegroup.additives_id]" [queryParams]="additivegroup" class="btn btn-primary pull-right">แสดงรายละเอียด</a>-->

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card" style="margin-top:25px;">
      <div class="card-header">
        ผลการค้นหาจากชื่ออื่น
      </div>
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" data-order='[[ 1, "asc" ]]' *ngIf="additivesynonyms">
          <thead>
          <tr>
            <th style="word-break: break-all;">ชื่ออื่น</th>
            <th>INS</th>
            <th style="word-break: break-all;">วัตถุเจือปนในอาหาร</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let additivesynonym of additivesynonyms">
            <td style="word-break: break-all;">{{ additivesynonym.additives_synonyms}}</td>
            <td>{{ additivesynonym.ins_id}}</td>
            <td style="word-break: break-all;">{{ additivesynonym.additives_description}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
