<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ระบบวัตถุเจือปนในอาหาร</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="btn btn-outline-success" [routerLink]="['/logout']" style="color:#FFF;font-family:'K2D';">ออกจากระบบ</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../']">
              <span data-feather="home"></span>
              หน้าหลัก <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" [routerLink]="['../additives/']">
              <span data-feather="file"></span>
              ข้อมูลวัตถุเจือปนอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../foods/']">
              <span data-feather="file"></span>
              ข้อมูลหมวดอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../functionals/']">
              <span data-feather="file"></span>
              ข้อมูลหน้าที่
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../groups/']">
              <span data-feather="file"></span>
              ข้อมูลกลุ่ม
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../notes/']">
              <span data-feather="file"></span>
              ข้อมูลเงื่อนไข
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">วัตถุเจือปนอาหาร</h1>
      </div>
      <br>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#additiveModal">เพิ่มข้อมูลวัตถุเจือปนอาหาร</button>
      <hr />
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="additives" data-order='[[ 1, "asc" ]]'>
        <thead>
          <tr>
            <th style="width:15px;" class="text-center">INS</th>
            <th style="width:10px;" class="text-center">วัตถุเจือปนในอาหาร</th>
            <th style="width:50px;" class="text-center">Info</th>
            <th style="width:5px;" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let additive of additives">
            <td>{{ additive.ins_id }}</td>
            <td>{{ additive.additives_description }}</td>
            <td class="text-center"><a [routerLink]="['../additive/detail/',additive.additives_id]"><i class="fa fa-info-circle"></i></a></td>
            <td class="text-center"><a href="#editEmployeeModal" data-toggle="modal" class="edit" (click)="onEditButton(additive.additives_id)"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a></td>

            <!--<td class="text-center"><a [routerLink]="['../additive/detail/',additive.additives_id]"><i class="fa fa-edit"></i></a></td>-->
            <!--<td class="text-center"><a [routerLink]="['../additive/detail/',additive.additives_id]"><i class="fa fa-edit"></i></a></td>-->
            <!--<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#additiveModal">เพิ่มข้อมูลวัตถุเจือปนอาหาร</button>-->
            <!--<button class="edit" (click)="onEditSubmit(additive.additives_id)"><a href="#editEmployeeModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>    </button>-->



          </tr>
        </tbody>
      </table>

    </main>
  </div>
</div>


<!-- Add Modal HTML -->
<div class="modal fade" id="additiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลวัตถุเจือปนอาหาร</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">

          <!--<div class="form-group">
            <label>ins_id</label>
            <input type="text" class="form-control" required name="ins_id" ngModel #first="ngModel">
          </div>
          <div class="form-group">
            <label>additives_description</label>
            <input type="text" class="form-control" required name="additives_description" ngModel>
          </div>-->


          <div class="form-group row">
            <!--<label for="insID" class="col-sm-4 col-form-label">INS ID</label>-->
            <label class="col-sm-4 col-form-label" for="insID">ins_id</label>

            <div class="col-sm-8">
              <!--<input type="text" class="form-control" id="insID" value="">-->

              <input type="text" class="form-control" id="insID" required name="ins_id" ngModel #first="ngModel">

            </div>
          </div>
          <div class="form-group row">
            <!--<label for="additiveDescription" class="col-sm-4 col-form-label">วัตถุเจือปนในอาหาร</label>-->
            <label class="col-sm-4 col-form-label" for="additiveDescription">additives_description</label>

            <div class="col-sm-8">
              <!--<textarea class="form-control" id="additiveDescription" placeholder="วัตถุเจือปนในอาหาร"></textarea>-->
              <input type="text" class="form-control" id="additiveDescription" required name="additives_description" ngModel>

            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-success" value="Add">
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            <button type="button" class="btn btn-primary">บันทึกข้อมูล</button>
          </div>-->

        </form>
      </div>

    </div>
  </div>
</div>



<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">
            แก้ไขวัตถุเจือปนอาหาร
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">





          <div class="form-group">
            <label>ID</label>
            <input type="number" class="form-control" required [(ngModel)]="test" name="additives_id" readonly>
          </div>


          <div class="form-group">
            <label>INS No.</label>
            <input type="text" class="form-control" required [(ngModel)]="test2" name="ins_id">

          </div>

          <div class="form-group">
            <label>Additives Description</label>
            <textarea class="form-control"  [(ngModel)]="test1" name="additives_description" required></textarea>

          </div>

          <!--<div class="form-group">
            <label>Address</label>
            <textarea class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required>
          </div>-->

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <button class="btn btn-info" type="submit" (click)="UpdateButton()">update</button>
        </div>
      </form>
    </div>
  </div>
</div>
