<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ระบบวัตถุเจือปนในอาหาร</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="btn btn-outline-success" [routerLink]="['/logout']" style="color:#FFF;font-family:'K2D';">ออกจากระบบ</a>
    </li>
  </ul>
  

</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">        
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              หน้าหลัก <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['additives/']">
              <span data-feather="file"></span>
              ข้อมูลวัตถุเจือปนอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['foods/']">
              <span data-feather="file"></span>
              ข้อมูลหมวดอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['functionals/']">
              <span data-feather="file"></span>
              ข้อมูลหน้าที่
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['groups/']">
              <span data-feather="file"></span>
              ข้อมูลกลุ่ม
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['notes/']">
              <span data-feather="file"></span>
              ข้อมูลเงื่อนไข
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">หน้าหลัก</h1>
        <p>{{fullname}}</p>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>
    </main>
  </div>
</div>
