<app-nav-menu></app-nav-menu>
<h1 id="tableLabel">กลุ่ม</h1>
<hr />

<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="groups">
  <thead>
    <tr>
      <th>กลุ่ม</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups">
      <td>{{ group.groups_description }}</td>
      <td class="text-center"><a [routerLink]="['/group/detail/',group.groups_id]"><i class="fa fa-info-circle"></i></a></td>
    </tr>
  </tbody>
</table>
