 
<app-nav-menu></app-nav-menu>
<div class="card bg-light text-dark">
  <div class="card-header">
    แสดงรายละเอียดของ  <strong>{{datatest.foods_name}}</strong>  
  </div>
  <div class="card-body">
    <!--<div *ngFor="let foodnamedata of texts;let i = index">-->
      <div class="card bg-light text-dark" style="margin-top:25px;">
        <div class="card-header">
          {{datatest.foods_code}} - {{datatest.foods_name}}
        </div>
        <div class="card-body">
          <div class="card-title">
            <div class="col-lg-12">
              <div class="card-text">คำอธิบาย (TH)</div>
            </div>
            <div class="col-lg-12">
              <div class="card-text">{{datatest.foods_description_th}}</div>
            </div>
            <hr />
            <div class="col-lg-12">
              <div class="card-text">คำอธิบาย (EN)</div>
            </div>
            <div class="col-lg-12">
              <div class="card-text">{{datatest.foods_description_en}}</div>
            </div>
          </div>
          <div class="float-right">
            <!--<a href="#" class="btn btn-primary pull-right">แสดงรายละเอียด</a>-->
            <!--<a [routerLink]="['/additives']" class="btn btn-outline-success my-2 my-sm-0" style="font-size:0.75rem;">Browse Alphabetically</a>-->
            <!--<a [routerLink]="['/additive-food-search-details/detail/','foodnamedata.foods_id']"class="btn btn-primary pull-right">แสดงรายละเอียด</a>-->
          </div>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>


 <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="fooddatabyFoodId">
  <thead>
    <tr>
      <th>INS</th>
      <th>ชื่อวัตถุเจือปนในอาหาร</th>
      <th>ปริมาณ (Max. Level)</th>
      <th>เงื่อนไข</th>
      <th>ปี</th>
      <th>รายละเอียด</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of fooddatabyFoodId">
      <td>{{ info.ins_id }}</td>
      <td>{{ info.addictives_description}}</td>
      <td>{{ info.max_level}}</td>
      <td>{{ info.notes}}</td>
      <td>{{ info.years}}</td>
      <td class="text-center"><a [routerLink]="['/additive/detail/',info.additives_id]"><i class="fa fa-info-circle"></i></a></td>
    </tr>
  </tbody>
</table>
