<app-nav-menu></app-nav-menu>
<h1 id="tableLabel">หน้าที่</h1>
<hr />

<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="functionals">
  <thead>
    <tr>
      <th class="text-center">หน้าที่</th>
      <th class="text-center">รายละเอียด</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let functional of functionals">
      <td>{{ functional.functional_description }}</td>
      <td class="text-center"><a [routerLink]="['/functional/detail/',functional.functional_id]"><i class="fa fa-info-circle"></i></a></td>
    </tr>
  </tbody>
</table>
