<!--<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    Username: test<br />
    Password: test
  </div>
  <div class="card">
    <h4 class="card-header">Angular 8 Basic Auth Login Example</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>-->
<!--<div class="sidenav">
  <div class="login-main-text">
    <h2 style="font-family:'K2D';">ADDITIVES MANAGEMENT SYSTEM</h2>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form>
        <div class="form group">
          <label style="font-family:'K2D';">User Name</label>
          <input type="text" class="form-control" placeholder="User Name" style="font-family:'K2D';">
        </div>
        <div class="form-group">
          <label style="font-family:'K2D';">Password</label>
          <input type="password" class="form-control" placeholder="Password" style="font-family:'K2D';">
        </div>
        <button type="submit" class="btn btn-outline-primary" style="font-family:'K2D';">Login</button>
      </form>
    </div>
  </div>
</div>-->
<div class="sidenav">
  <div class="login-main-text">
    <h2 style="font-family:'K2D';">ADDITIVES MANAGEMENT SYSTEM</h2>
  </div>
</div>


<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
    Username: test<br />
    Password: test
  </div>
  <div class="card">
    <h4 class="card-header">Angular 8 Basic Auth Login Example</h4>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="ClickAddDes(f)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" ngModel class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" ngModel class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>





<!--<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="form" (submit)="onSubmit()">

        <div class="form group">
          <label style="font-family:'K2D';" class="control-label">User Name</label>
          <input type="text" class="form-control" formControlName="email" placeholder="User Name" style="font-family:'K2D';" autofocus>
        </div>

        <div class="form-group">
          <label class="control-label" style="font-family:'K2D';">Password</label>
          <input type="password" class="form-control" placeholder="Password" style="font-family:'K2D';" formControlName="password">
        </div>

        <button type="submit" class="btn btn-outline-primary" style="font-family:'K2D';">Login</button>
        <div class="mt-3 text-center semibold-text">
         </div>
      </form>
    </div>
  </div>
</div>-->
<!--<div class="sidenav">
  <div class="login-main-text">
    <h2 style="font-family:'K2D';">ADDITIVES MANAGEMENT SYSTEM</h2>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p *ngIf="flagsCheck">{{message}}</p>

        <div class="form group">
          <label style="font-family:'K2D';" for="username"> Name</label>
          <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="User Name" style="font-family:'K2D';">

          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>

        </div>

        <div class="form-group">
          <label for="password" style="font-family:'K2D';">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password" style="font-family:'K2D';" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>

        </div>


        <div class="form-group">
          <button [disabled]="loading" type="submit" class="btn btn-outline-primary" style="font-family:'K2D';" (click)="checkLogin()">Login</button>

        </div>


      </form>
    </div>
  </div>
</div>-->

