
<style>
  #tab-menus {
    padding: 30px 0px;
  }

    #tab-menus .nav-tabs {
      background-color: #f3f3f3;
      box-shadow: 0px 0px 33px -15px #000;
    }

    #tab-menus .tab-content {
      background-color: #f3f3f3;
      padding: 5px 15px;
    }

    #tab-menus .nav-link {
      font-size: 18px;
      color: #9C27B0;
    }

    #tab-menus .nav-tabs {
      border-bottom: 1px solid #9C27B0;
    }

      #tab-menus .nav-tabs .nav-link.active {
        border-color: #9C27B0 #9C27B0 #fff;
      }
</style>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ระบบวัตถุเจือปนในอาหาร</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">ออกจากระบบ</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="../../backend/">
              <span data-feather="home"></span>
              หน้าหลัก <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" [routerLink]="['../../../additives/']">
              <span data-feather="file"></span>
              ข้อมูลวัตถุเจือปนอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../../../foods/']">
              <span data-feather="file"></span>
              ข้อมูลหมวดอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../../../functionals/']">
              <span data-feather="file"></span>
              ข้อมูลหน้าที่
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../../../groups/']">
              <span data-feather="file"></span>
              ข้อมูลกลุ่ม
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../../../notes/']">
              <span data-feather="file"></span>
              ข้อมูลเงื่อนไข
            </a>
          </li>
        </ul>
      </div>
    </nav>




    <section id="tab-menus">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center mt-4 mb-5">แก้ไขข้อมูลวัตถุเจือปน</h2>
            <!-- Tabs navs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#firstMenu"><i class="fab fa-html5"></i>ข้อมูลพื้นฐาน</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#secondmenu"><i class="fab fa-wordpress"></i>ข้อมูลหมวดอาหาร</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#thirdmenu" ><i class="fab fa-bootstrap"></i>ข้อมูลหน้าที่</a>
              </li>
              <!--<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#fourthmenu"><i class="fab fa-angular"></i>ข้อมูลเงื่อนไข<</a>
              </li>-->
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#fourthmenulast"><i class="fab fa-angular"></i> ข้อมูลชื่ออื่น</a>
              </li>
            </ul>
            <!-- Tabs Content -->
            <div class="tab-content">
              <div id="firstMenu" class="tab-pane active">
                <h3 class="mt-4">What do you think about HTML5?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
              </div>
              <div id="secondmenu" class="tab-pane">
                <h3 class="mt-4">What do you think about WordPress?</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
              </div>
              <div id="thirdmenu" class="tab-pane">
                <app-addfunctional-detail></app-addfunctional-detail>
            

                <!--<h3 class="mt-4">What do you think about Bootstrap?</h3>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites</p>-->
              </div>

              <!--<div id="fourthmenu" class="tab-pane">
                <app-addnote></app-addnote>        
              </div>-->

              <div id="fourthmenulast" class="tab-pane">
                <app-addsynonym></app-addsynonym>
   
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  


    <!--<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br>
    <button type="button" class="btn btn-outline-primary" style="margin-right:15px;">แก้ไขข้อมูลหมวดอาหาร</button>
    <button type="button" class="btn btn-outline-primary" style="margin-right:15px;">แก้ไขข้อมูลหน้าที่</button>
    <button type="button" class="btn btn-outline-primary" style="margin-right:15px;">แก้ไขข้อมูลกลุ่ม</button>
    <button type="button" class="btn btn-outline-primary" style="margin-right:15px;">แก้ไขข้อมูลเงื่อนไข</button>
    <button type="button" class="btn btn-outline-primary" style="margin-right:15px;">แก้ไขข้อมูลชื่ออื่น</button>
    <hr />
    <div class="card-header" style="font-family:K2D;">
      <strong>รายละเอียดวัตถุเจือปนในอาหาร</strong>
    </div>
    <div class="card-body">
      <p class="card-title"><strong>{{ additives.additives_description }} ({{additives.ins_id}})</strong></p>
      <hr />
      <p><strong>Synonym(s)</strong></p>
      <ul *ngFor="let additivesynonym of additivesynonyms">
        <li>{{ additivesynonym.additives_synonyms }}</li>
      </ul>
      <p><strong>Functional Class</strong></p>
      <ul *ngFor="let additivefunctional of additivefunctionals">
        <li>{{ additivefunctional.functional_description }}</li>
      </ul>
      <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="additivefoods">
        <thead>
          <tr>
            <th>รหัสหมวดอาหาร</th>
            <th>หมวดอาหาร</th>
            <th>ปริมาณสูงสุดที่อนุญาต (มก./กก.)</th>
            <th>ปีที่รับค่ากำหนด</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let food of additivefoods">
            <td>{{ food.foods_code }}</td>
            <td>{{ food.foods_name }}</td>
            <td>{{ food.max_level }}</td>
            <td>{{ food.years }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </main>-->
  </div>
</div>
