<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ระบบวัตถุเจือปนในอาหาร</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="btn btn-outline-success" [routerLink]="['/logout']" style="color:#FFF;font-family:'K2D';">ออกจากระบบ</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../']">
              <span data-feather="home"></span>
              หน้าหลัก <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../additives/']">
              <span data-feather="file"></span>
              ข้อมูลวัตถุเจือปนอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" [routerLink]="['../foods/']">
              <span data-feather="file"></span>
              ข้อมูลหมวดอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../functionals/']">
              <span data-feather="file"></span>
              ข้อมูลหน้าที่
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../groups/']">
              <span data-feather="file"></span>
              ข้อมูลกลุ่ม
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../notes/']">
              <span data-feather="file"></span>
              ข้อมูลเงื่อนไข
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">




      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">หมวดอาหาร</h1>
      </div>
      <br>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#foodModal">เพิ่มข้อมูลหมวดอาหาร</button>
      <hr />
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="foods">
        <thead>
          <tr>
            <th>รหัสหมวดอาหาร</th>
            <th>หมวดอาหาร</th>
            <th style="width:50px;" class="text-center">Info</th>
            <th style="width:5px;" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let food of foods">
            <td>{{ food.foods_code }}</td>
            <td>{{ food.foods_name }}</td>
            <td class="text-center"><a [routerLink]="['/food/detail/',food.foods_id]"><i class="fa fa-info-circle"></i></a></td>
            <!--<td class="text-center"><a [routerLink]="['backend/food/edit/',foods.foods_id]"><i class="fa fa-edit"></i></a></td>-->
            <td class="text-center"><a href="#editFoodModal" data-toggle="modal" class="edit" (click)="onEditButton(food.foods_id)"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a></td>
          </tr>
        </tbody>
      </table>

    </main>
  </div>
</div>


<!--Add Food data-->
<div class="modal fade" id="foodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลหมวดอาหาร</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--<form>-->
          <!--<div class="form-group row">
    <label for="foodName" class="col-sm-4 col-form-label">หมวดอาหาร</label>
    <div class="col-sm-8">
      <textarea class="form-control" id="foodName" value=""></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="foodDescriptionTH" class="col-sm-4 col-form-label">คำอธิบาย (TH)</label>
    <div class="col-sm-8">
      <textarea class="form-control" id="foodDescriptionTH" placeholder="คำอธิบาย (TH)"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="foodDescriptionEN" class="col-sm-4 col-form-label">คำอธิบาย (EN)</label>
    <div class="col-sm-8">
      <textarea class="form-control" id="foodDescriptionEN" placeholder="คำอธิบาย (EN)"></textarea>
    </div>
  </div>-->



          <!--<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmitbth(userForm)">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel"
                     [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
              <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
                <p *ngIf="name.errors.required">Name is required</p>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-block">Submit</button>
            </div>
          </form>-->


          <div class="form-group row">
            <label>รหัสหมวดอาหาร</label>
            <input type="text" class="form-control" name="foods_code" [(ngModel)]="model.foods_code" ngModel #foods_code="ngModel" [ngClass]="{'is-invalid': f.submitted && foods_code.invalid }" required>
            <div class="invalid-feedback" *ngIf="f.submitted && foods_code.invalid">
              <p *ngIf="foods_code.errors.required">กรุณากรอกรหัสหมวดอาหาร</p>
            </div>
          </div>
          <div class="form-group row">
            <label>หมวดอาหาร</label>
            <input type="text" class="form-control" required name="foods_name" ngModel>
               <div class="invalid-feedback" *ngIf="f.submitted && foods_code.invalid">
              <p *ngIf="foods_code.errors.required">กรุณากรอกรหัสหมวดอาหาร</p>
            </div>
          </div>
          <div class="form-group row">
            <label>คำอธิบาย (TH)</label>
            <input type="text" class="form-control" required name="foods_description_th" ngModel>
          </div>
          <div class="form-group row">
            <label>คำอธิบาย (EN)</label>
            <input type="text" class="form-control" required name="foods_description_en" ngModel>
          </div>



          <!--<form [formGroup]="form" (ngSubmit)="submit()">
    <label for="orders">Order</label>
    <select formControlName="orders" id="orders">
      <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
        {{orders[i].name}}
      </option>
    </select>

    <button (click)="submit(orders[i].parent_id)">submit</button>
  </form>-->
          <!--<div class="form-group row">
    <label for="foodParentCategory" class="col-sm-4 col-form-label">หมวดหลัก</label>
    <div class="col-sm-8">


      <select class='form-control select-option' [(ngModel)]="dropdown1" name="first"
              (change)='onOptionsSelectedtest($event)'>  on


        <option value="0" selected>-- กรุณาเลือกหมวดอาหารหลัก --</option>

        <option class='option' *ngFor='let option of orders'
                [value]="option.foods_id">


          {{option.foods_name}}
        </option>
      </select>

    </div>
  </div>-->







          <div class="form-group row">
            <label for="foodParentCategory" class="col-sm-4 col-form-label">หมวดหลัก</label>
            <div class="col-sm-8">
              <!--<select class="form-control" id="foodParentCategory">
        <option value="">กรุณาเลือกหมวดอาหารหลัก</option>

        <option *ngFor="let order of orders; let i = index" [value]="orders.foods_name">
          {{orders[i].foods_name}}
        </option>
      </select>-->


              <select class='form-control select-option' [(ngModel)]="dropdown1" name="first"
                      (change)='onOptionsSelected($event)'>



                <!--<option [value]="undefined" [disabled]="disabledFirstOption" selected>Select</option>-->
                <!--<option value="">Selecione um tipo</option>-->
                <!--<option value="undefined" [selected]="isSelected"> Please choose one </option>-->

                <option [value]="undefined">-- กรุณาเลือกหมวดอาหารหลัก --</option>

                <option class='option' *ngFor='let option of orders'
                        [value]="option.foods_id">


                  {{option.foods_name}}
                </option>
              </select>


              <!--<button (click)="submit()">submit</button>-->

            </div>
          </div>



          <div class="form-group row">
            <label for="foodParentCategory2" class="col-sm-4 col-form-label">หมวดย่อย 1</label>
            <div class="col-sm-8">
              <select class='form-control select-option' [(ngModel)]="dropdown2" name="first2"
                      (change)='onOptionsSelected1($event)'>
                <!--<option value="0">-- กรุณาเลือกหมวดอาหารย่อย 1 --</option>-->
                <option [value]="undefined">-- กรุณาเลือกหมวดอาหารย่อย 1 --</option>

                <option class='option' *ngFor='let option2 of orders2'
                        [value]="option2.foods_id">
                  {{option2.foods_name}}
                </option>
              </select>

            </div>
          </div>

          <div class="form-group row">
            <label for="foodParentCategory3" class="col-sm-4 col-form-label">หมวดย่อย 2</label>
            <div class="col-sm-8">
              <!--<select class="form-control" id="foodParentCategory3">-->
              <!--<option value="">กรุณาเลือกหมวดอาหารหลัก</option>

        <option *ngFor="let order of orders; let i = index">
          {{orders[i].foods_name}}
        </option>
      </select>-->

              <select class='form-control select-option' [(ngModel)]="dropdown3" name="first3"
                      (change)='onOptionsSelected3($event)'>



                <!--<option value="0">-- กรุณาเลือกหมวดอาหารย่อย 2 --</option>-->
                <option [value]="undefined">-- กรุณาเลือกหมวดอาหารย่อย 2 --</option>
                <option class='option' *ngFor='let option3 of orders3'
                        [value]="option3.foods_id">
                  {{option3.foods_name}}
                </option>
              </select>


            </div>
          </div>



          <div class="form-group row">
            <label for="foodParentCategory3" class="col-sm-4 col-form-label">หมวดย่อย 3</label>
            <div class="col-sm-8">
              <!--<select class="form-control" id="foodParentCategory3">-->
              <!--<option value="">กรุณาเลือกหมวดอาหารหลัก</option>

        <option *ngFor="let order of orders; let i = index">
          {{orders[i].foods_name}}
        </option>
      </select>-->

              <select class='form-control select-option' [(ngModel)]="dropdown4" name="first4"
                      (change)='onOptionsSelected4($event)'>
                on


                <option value="undefined">-- กรุณาเลือกหมวดอาหารย่อย 3 --</option>

                <option class='option' *ngFor='let option4 of orders4'
                        [value]="option4.foods_id">
                  {{option4.foods_name}}
                </option>
              </select>


            </div>
          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
          <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
        </div>
      </form>

    </div>
  </div>
</div>



<!-- Edit Food Modal HTML -->
<div id="editFoodModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">
            แก้ไขหมวดอาหาร
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>ID</label>
            <input type="number" class="form-control" required [(ngModel)]="Idfood" name="foods_id" readonly>
          </div>


          <div class="form-group">
            <label>รหัสหมวดอาหาร</label>
            <input type="text" class="form-control" required [(ngModel)]="foodcode" name="foods_code">

          </div>

          <div class="form-group">
            <label>หมวดอาหาร</label>
            <textarea class="form-control" [(ngModel)]="foodname" name="foods_name" required></textarea>

          </div>

          <!--<div class="form-group">
            <label>Address</label>
            <textarea class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required>
          </div>-->

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <button class="btn btn-info" type="submit" (click)="UpdateButton()">update</button>
        </div>
      </form>
    </div>
  </div>
</div>
