<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">ระบบวัตถุเจือปนในอาหาร (Food Additives)</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded"
          (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngClass]="{ show: isExpanded }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-dark" [routerLink]="['/']">หน้าหลัก <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <a class="btn btn-outline-success" [routerLink]="['/login']" style="color:#FFF;font-family:'K2D';">เข้าสู่ระบบ</a>
</nav>
