@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

.bg-dark {
  background-color: #006838 !important;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-family: "K2D";
}
.navbar-light .navbar-brand {
  color: #FFF;
  font-family: "K2D";
}

.text-dark {
  color: #FFF !important;
  font-family: "K2D"
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
