<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ระบบวัตถุเจือปนในอาหาร</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="btn btn-outline-success" [routerLink]="['/logout']" style="color:#FFF;font-family:'K2D';">ออกจากระบบ</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../']">
              <span data-feather="home"></span>
              หน้าหลัก <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../additives/']">
              <span data-feather="file"></span>
              ข้อมูลวัตถุเจือปนอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../foods/']">
              <span data-feather="file"></span>
              ข้อมูลหมวดอาหาร
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['../functionals/']">
              <span data-feather="file"></span>
              ข้อมูลหน้าที่
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../groups/']">
              <span data-feather="file"></span>
              ข้อมูลกลุ่ม
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['../notes/']">
              <span data-feather="file"></span>
              ข้อมูลเงื่อนไข
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">หน้าที่</h1>
      </div>
      <br>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#functionalModal">เพิ่มข้อมูลหน้าที่</button>
      <hr />
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="functionals">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">หน้าที่</th>
            <th class="text-center">Info</th>
            <th style="width:5px;" class="text-center">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let functional of functionals">
            <td>{{ functional.functional_id}}</td>
            <td>{{ functional.functional_description }}</td>
            <td class="text-center"><a [routerLink]="['/functional/detail/',functional.functional_id]"><i class="fa fa-info-circle"></i></a></td>
            <td class="text-center"><a href="#EditfunctionalModal" (click)="ClickEdit(functional.functional_id)"data-toggle="modal"><i class="fa fa-edit"></i></a></td>
          </tr>
        </tbody>
      </table>

    </main>
  </div>
</div>
<div class="modal fade" id="functionalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลหน้าที่</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="ClickAddDes(f)">
          <div class="form-group row">
            <label for="functionalDescription" class="col-sm-4 col-form-label">คำอธิบาย</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="functionalDescription" required name="functional_description" ngModel placeholder="หน้าที่"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            <button type="submit" class="btn btn-primary">บันทึกข้อมูล</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditfunctionalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">แก้ไขข้อมูลหน้าที่</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="functionalDescription2" class="col-sm-4 col-form-label">ชื่อหน้าที่</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="functionalDescription2" required [(ngModel)]="functional_description" name="functional_description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            <button type="submit" class="btn btn-primary" (click)="ClickEditSave()">แก้ไขข้อมูล</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
