<app-nav-menu></app-nav-menu>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>ระบบวัตถุเจือปนในอาหาร (Food Additives)</h1>
      <p class="lead text-muted">
      </p>
      <p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#006838" /><text x="50%" y="50%" fill="#eceeef" dy=".3em" style="font-family:'K2D';">วัตถุเจือปนในอาหาร</text></svg>
            <div class="card-body">
              <p class="card-text">วัตถุเจือปนในอาหาร / กลุ่ม / ชื่ออื่น</p>
              <div class="d-flex justify-content-between align-items-center">
                <form class="form-inline mt-2 mt-md-0" #Additive="ngForm" (ngSubmit)="onSubmitAdditive(Additive)">
                  <input type="text" class="form-control mr-sm-2" placeholder="ค้นหา" aria-label="Search" style="font-size:0.75rem;font-family:K2D;" required name="AdditiveSearch" ngModel #first="ngModel">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size:0.75rem;font-family:'K2D'">ค้นหา</button>
                </form>
                <a [routerLink]="['/additives']" class="btn btn-outline-success my-2 my-sm-0" style="font-size:0.75rem;">Browse Alphabetically</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#006838" /><text x="50%" y="50%" fill="#eceeef" dy=".3em" style="font-family:'K2D';">INS</text></svg>
            <div class="card-body">
              <p class="card-text">INS No</p>
              <div class="d-flex justify-content-between align-items-center">
                <form class="form-inline mt-2 mt-md-0" #f="ngForm" (ngSubmit)="onSubmitINS(f)">
                  <input class="form-control mr-sm-2" type="text" placeholder="ค้นหา" aria-label="Search" required name="INSSearch" ngModel #first="ngModel" style="font-size:0.75rem;font-family:K2D;">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size:0.75rem;font-family:'K2D'">ค้นหา</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#006838" /><text x="50%" y="50%" fill="#eceeef" dy=".3em" style="font-family:'K2D';">หมวดอาหาร</text></svg>
            <div class="card-body">
              <p class="card-text">หมวดอาหาร / รหัสของหมวดอาหาร</p>
              <div class="d-flex justify-content-between align-items-center">
                <form class="form-inline mt-2 mt-md-0" #FoodSearch="ngForm" (ngSubmit)="onSubmitFoodSearch(FoodSearch)">
                  <input class="form-control mr-sm-2" type="text" placeholder="ค้นหา" aria-label="Search" name="food_category_code" id="food_category_code" ngModel #first="ngModel" style="font-size:0.75rem;font-family:K2D;">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size:0.75rem;font-family:'K2D'">ค้นหา</button>
                </form>
                <a href="#" class="btn btn-outline-success my-2 my-sm-0" style="font-size:0.75rem;">Browse Hierarchy</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#006838" /><text x="50%" y="50%" fill="#eceeef" dy=".3em" style="font-family:'K2D';">หน้าที่</text></svg>
            <div class="card-body">
              <p class="card-text">หน้าที่</p>
              <div class="d-flex justify-content-between align-items-center">
                <form class="form-inline mt-2 mt-md-0" method="post">
                  <select name="functional" id="functional" class="form-control mr-sm-2" style="font-size:0.75rem;font-family:K2D;" onchange="javascript:location.href = this.value;">
                    <option value="">-- Please Select functional -- </option>
                    <option *ngFor="let functional of functionals" value="/functional/detail/{{functional.functional_id}}">{{functional.functional_description}}</option>
                  </select>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size:0.75rem;font-family:'K2D';">ค้นหา</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    window.onload = function () {
      location.href = document.getElementById("functional").value;
      alert(location.href);
    }
  </script>
</main>
