<app-nav-menu></app-nav-menu>
<main role="main">
  <div class="container">
    <div class="card" style="margin-top:25px;">
      <div class="card-header" style="font-family:K2D;">
        <strong>รายละเอียดวัตถุเจือปนในอาหาร</strong>
      </div>
      <div class="card-body">
        <p class="card-title"><strong>{{ additives.additives_description }} ({{additives.ins_id}})</strong></p>
        <hr />
        <p><strong>ชื่ออื่น</strong></p>
        <ul *ngFor="let additivesynonym of additivesynonyms">
          <li>{{ additivesynonym.additives_synonyms }}</li>
        </ul>
        <p><strong>หน้าที่</strong></p>
        <ul *ngFor="let additivefunctional of additivefunctionals">
          <li>{{ additivefunctional.functional_description }}</li>
        </ul>
        <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="additivefoods">
          <thead>
            <tr>
              <th style="width:20%;" class="text-center">รหัสหมวดอาหาร</th>
              <th class="text-center">หมวดอาหาร</th>
              <th class="text-center">ปริมาณสูงสุดที่อนุญาต (มก./กก.)</th>
              <th class="text-center">ปีที่รับค่ากำหนด</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let food of additivefoods">
              <td>{{ food.foods_code }}</td>
              <td>{{ food.foods_name }}</td>
              <td>{{ food.max_level }}</td>
              <td>{{ food.years }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>




