<app-nav-menu></app-nav-menu>
<h1 id="tableLabel">วัตถุเจือปนในอาหาร</h1>

<hr />
<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="additives" data-order='[[ 1, "asc" ]]' id="additives">
  <thead>
    <tr>
      <th style="width:15px;">INS</th>
      <th style="width:40px;">วัตถุเจือปนในอาหาร</th>
      <th style="width:45px;">รายละเอียด</th>
      <th style="width:30px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let additive of additives">
      <td (click)="onClick($event)" id="ins_id{{additive.additives_id}}">{{ additive.ins_id }}</td>
      <td id="additives_description{{additive.additives_id}}">{{ additive.additives_description }}</td>
      <td class="text-center"><a [routerLink]="['/additive/detail/',additive.additives_id]"><i class="fa fa-info-circle"></i></a></td>
      <td class="text-center"><i class="fa fa-edit" id="{{additive.additives_id}}" (click)="onClick($event)" style="cursor: pointer;font-weight: bold;"></i></td>

    </tr>
  </tbody>
</table>
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">แก้ไขข้อมูลเจือปนอาหาร</h4>
        <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="insID" class="col-sm-4 col-form-label">INS ID</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control" id="insID" value="{{ins_id}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="additiveDescription" class="col-sm-4 col-form-label">วัตถุเจือปนในอาหาร</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="additiveDescription" placeholder="วัตถุเจือปนในอาหาร">{{additives_description}}</textarea>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">ปิดหน้าต่าง</button>
      </div>

    </div>
  </div>
</div>

