<!--โค๊ด Original-->
<!--<app-nav-menu></app-nav-menu>
<h1 id="tableLabel">ผลการค้นหาจากรหัสอาหาร/หมวดอาหาร</h1>
<hr />

<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="additiveFoodInfo">
  <thead>
    <tr>
      <th>INS</th>
      <th>วัตถุเจือปนในอาหาร</th>
      <th>รายละเอียด</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of additiveFoodInfo">
      <td>{{ info.ins_id }}</td>
      <td>{{ info.addictives_description}}</td>
      <td class="text-center"><a [routerLink]="['/additive/detail/',info.additives_id]"><i class="fa fa-info-circle"></i></a></td>
    </tr>
  </tbody>
</table>-->
<!--โค้ดพี่วร-->
<app-nav-menu></app-nav-menu>
<!--<h1 id="tableLabel">ผลการค้นหาของ  <strong>{{text}}</strong> จากรหัสอาหาร/หมวดอาหาร</h1>

<hr />-->
<!--<div *ngFor="let foodnamedata of foodnamedatas;let i = index">
  <div class="clr-col-lg-12 clr-col-12">
    <div class="card">
      <div class="card-block">
        <div *ngIf="foodnamedata?.foods_name">
          <h3 class="card-title">{{foodnamedata.foods_name}}</h3>
        </div>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{foodnamedata.foods_name}}
        </button>
        <div class="expandCollapseContent" >
          <div *ngIf="foodnamedata?.foods_name">
            <h5>ชื่อ </h5>{{foodnamedata.foods_name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<app-nav-menu></app-nav-menu>
<div class="card bg-light text-dark">
  <div class="card-header">
    ผลการค้นหาของ  <strong>{{text}}</strong> จากรหัสอาหาร/หมวดอาหาร
  </div>
  <div class="card-body">
    <div *ngFor="let foodnamedata of foodnamedatas;let i = index">
      <div class="card bg-light text-dark" style="margin-top:25px;">
        <div class="card-header">
          {{foodnamedata.foods_code}} - {{foodnamedata.foods_name}}
        </div>
        <div class="card-body">
          <div class="card-title">
            <div class="col-lg-12">
              <div class="card-text">คำอธิบาย (TH)</div>
            </div>
            <div class="col-lg-12">
              <div class="card-text">{{foodnamedata.foods_description_th}}</div>
            </div>
            <hr />
            <div class="col-lg-12">
              <div class="card-text">คำอธิบาย (EN)</div>
            </div>
            <div class="col-lg-12">
              <div class="card-text">{{foodnamedata.foods_description_en}}</div>
            </div>
          </div>
          <div class="float-right">
            <!--<a href="#" class="btn btn-primary pull-right">แสดงรายละเอียด</a>-->
            <!--<a [routerLink]="['/additives']" class="btn btn-outline-success my-2 my-sm-0" style="font-size:0.75rem;">Browse Alphabetically</a>-->
            <a [routerLink]="['/additive-food-search-details/detail/',foodnamedata.foods_id]" [queryParams]="foodnamedata" class="btn btn-primary pull-right">แสดงรายละเอียด</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Code ตัวอย่างของ "Accordion"-->
<!--<div class="accordion" id="accordionExample" *ngFor="let foodnamedata of foodnamedatas;let i = index">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{foodnamedata.foods_name}}
          </button>

      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

        <p>{{foodnamedata.foods_description_th}}</p>
        <p>{{foodnamedata.foods_description_en}}</p>

      </div>
    </div>
  </div>-->
<!--<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Collapsible Group Item #2
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Collapsible Group Item #3
      </button>
    </h5>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
</div>-->
<!--</div>-->



<!--original code-->
<!--<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="additiveFoodInfo">
  <thead>
    <tr>
      <th>INS</th>
      <th>ชื่อวัตถุเจือปนในอาหาร</th>
      <th>ปริมาณ (Max. Level)</th>
      <th>เงื่อนไข</th>
      <th>ปี</th>
      <th>รายละเอียด</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of additiveFoodInfo">
      <td>{{ info.ins_id }}</td>
      <td>{{ info.addictives_description}}</td>
      <td>{{ info.max_level}}</td>
      <td>{{ info.notes}}</td>
      <td>{{ info.years}}</td>
      <td class="text-center"><a [routerLink]="['/additive/detail/',info.additives_id]"><i class="fa fa-info-circle"></i></a></td>
    </tr>
  </tbody>
</table>-->
