<app-nav-menu></app-nav-menu>
<h1 id="tableLabel">หมวดอาหาร</h1>
<hr />

<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-sm row-border hover" *ngIf="foods">
  <thead>
    <tr>
      <th>รหัสหมวดอาหาร</th>
      <th>หมวดอาหาร</th>
      <th>รายละเอียด (TH)</th>
      <th>รายละเอียด (EN)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foods">
      <td>{{ food.foods_code }}</td>
      <td>{{ food.foods_name }}</td>
      <td>{{ food.foods_description_th }}</td>
      <td>{{ food.foods_description_en }}</td>
    </tr>
  </tbody>
</table>
